html, body, section {
  height: 100%;
}
section {
  float: left;
  overflow: auto;
}
footer {
  height: 10%;
}

#menu, #timeline, #subscriptions {
  position: relative;
  width: 45%;
}
#menu {
  width: 10%;
}
#timeline {
}
#subscriptions {
}

.title {
}
.tweet {
}
.date {
}
.user {
}
