html, body, section {
  height: 100%;
}
body {
  margin-bottom: 0;
  height: calc(100% - 8px);
}
section {
  float: left;
}
ul {
  height: calc(100% - 36px);
  margin: 0;
  overflow: auto;
}
header {
  height: 36px;
  text-align: center;
}
footer {
  position: absolute;
  top: 100%;
  height: 10%;
}

#menu, #timeline, #subscriptions {
  position: relative;
  width: 45%;
}
#menu {
  width: 10%;
}
#timeline {
}
#subscriptions {
}

.tweet {
  margin: 6px 8px;
  background: rgba(0,0,250,0.3);
  border: 1px solid rgba(0,0,250,0.6);
  border-radius: 10px 40px 40px 10px;
}
.message {
}
.date {
}
.user {
}
