html, body, section {
  height: 100%;
}
section {
  float: left;
}

#menu {
  position: relative;
  width: 10%;
}
#timeline {
  position: relative;
  width: 45%;
}
#subscriptions {
  position: relative;
  width: 45%;
}

.title {
}
.tweet {
}
.date {
}
.user {
}
